<div class="w-full max-w-3xl">
  <form [formGroup]="locationForm">
    <div class="text-secondary w-full">
      {{ "projects.fourth-step.resume" | transloco }}
    </div>

    <!-- Form Array -->
    <ng-container formArrayName="localizacoes">
      <ng-container *ngFor="let localizacaoForm of localizacoes.controls; let i = index">
        <!-- Localizacao form Row -->
        <div [formGroup]="localizacaoForm" class="flex w-full mt-2">
          <mat-form-field class="w-full mr-1" appearance="fill">
            <mat-label>{{ 'projects.fourth-step.city' | transloco }}</mat-label>
            <input
              type="text"
              matInput
              formControlName="busca"
              [matAutocomplete]="auto"
              placeholder="Digite o nome da cidade para buscar"
              (focus)="handleFocus(i)"
            >
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
              <mat-option
                *ngFor="let location of filteredLocations | async"
                [value]="location"
                (click)="handleLocationOption(location, i)"
              >
                {{ location.cidade }} - {{ location.estado }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>

          <mat-form-field class="fuse-mat-no-subscript w-40 ml-1">
            <mat-label>{{ 'common.rate' | transloco }}</mat-label>
            <input matInput formControlName="taxa" type="text">
          </mat-form-field>

          <mat-icon
            (click)="deleteLocation(i)"
            class="ml-2 cursor-pointer p-2 mt-8 hover:bg-gray-200"
          >delete_forever</mat-icon>
        </div>
      </ng-container>
    </ng-container>

    <button
      class="btn-dashed mt-6"
      type="button"
      (click)="addLocation()"
    >
      <mat-icon svgIcon="heroicons_outline:plus-sm" class="mr-2"></mat-icon>
      <span>{{ 'projects.fourth-step.add-btn' | transloco }}</span>
    </button>

    <!-- Divider -->
    <div class="mt-11 mb-10 border-t"></div>

    <div class="flex items-center justify-end">
      <button mat-stroked-button type="button" (click)="handleBack()">
        <mat-icon svgIcon="heroicons_outline:arrow-sm-left"></mat-icon>
        {{ "common.back" | transloco }}
      </button>

      <button class="ml-4" mat-stroked-button type="button" (click)="handleNext()">
        <mat-icon svgIcon="heroicons_outline:arrow-sm-right"></mat-icon>
        {{ "common.next-step" | transloco }}
      </button>
    </div>
  </form>
</div>
